# Answer. 1

In [1]:
# Create program to short the given list of tuples based on intergers values using lamda function

my_list = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]   #Given list

In [5]:
sorted_list = sorted(my_list , key = lambda x : x[1])    #Creating lamda finction to sort the list of tuple on intergers values

In [6]:
print(sorted_list)  #Print the generated list

[('Virat Kohli', 24936), ('Jack Kallis', 25534), ('Ricky Ponting', 27483), ('Sachin Tendulkar', 34357)]

# Answer. 2

In [16]:
#Program to square the element of list using map nad lambbda function 

l1 =[1,2,3,4,5,6]  #Given List

In [9]:
list(map(lambda x : x**2 , l1))    #Map the lamda function to list l1 for square the list element and print the list

[1, 4, 9, 16, 25, 36]

# Answer. 3

In [13]:
#Program to convert the list into the tuple 

l2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]  #Given list

In [14]:
def con(x):      #Define the function 
    return x   #function return the x

In [15]:
tuple(map(con,l2))    #Map the list to the function to convert the list to tuple

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Answer. 4

In [17]:
from functools import reduce  # import the reduce function through functools

In [18]:
num = list(range(1,26))     #Creating the list from 1 to 25

reduce(lambda x,y: x*y ,num)   #multiplying the element in the list using the lamda function an reduce the lamda fuction

15511210043330985984000000

# Answer. 5

In [49]:
# program to filter the number divided by 2 and 3 using lamda

list2 = [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [55]:
list(filter(lambda x :  x%2 == 0 or x%3 == 0 ,list2))

[2, 3, 6, 9, 27, 60, 90, 120, 46]

# Answer. 6

In [1]:
# python program to find palindromes in the given list of strings using lambda and filter function. 

list3 = ['python', 'php', 'aba', 'radar', 'level']

In [4]:
palindromes = list(filter(lambda x : x == x[::-1] ,list3))

In [5]:
print(palindromes)

['php', 'aba', 'radar', 'level']